html{
    font-family: 'Press Start 2P', system-ui;
}

h1{
    text-align: center;
    font-size: 50px;
}

body{
    height: 800px;
    width: 800px;
    position: relative;
    background-color: lavender;
    padding: 3vh 10vh 27vw 27vw;
}

#board{
    background-image: url(./images/board.png);
    height: 720px;
    width: 720px;
    margin: auto;
    position: relative;
}
#player{
    height: 72px;
    width: 72px;
    position:absolute;
    background-image: url(./images/domingo.png);
    top: 324px;
    left: 324px;
}
#enemyY{
    height: 55px;
    width: 55px;
    position: absolute;
    background-image: url(./images/html.png);
}
#enemyX{
    height: 55px;
    width: 55px;
    position: absolute;
    background-image: url(./images/CSS.png);
}
.life {
    position: absolute;
    height: 41px;
    width: 41px;
    background-image: url(./images/corazon.png);
    margin-left: 10px;
}
#gameover{
    background-image: url(./images/gameover.png);
    height: 720px;
    width: 720px;
    margin: auto;
    position: absolute;
    opacity: 0;
}
#java{
    height: 55px;
    width: 55px;
    position: absolute;
    background-image: url(./images/javaScript.png);
}
#count{
    border: solid red;
    height: 60px;
    width: 718px;
    margin: auto;
    text-align: end;
}
 
#zumoX {
    height: 55px;
    width: 55px;
    position: absolute;
    background-color: blue;
}

.botel {
    position: absolute;
    height: 50;
    width: 50;
    top: 640 px;
    left: 640 px;
    background-color: chartreuse;
}