html{
    font-family: 'Press Start 2P', system-ui;
}

h1{
    font-size: 50px;
    margin: 0px;
}


body{
    background-color: lavender;
    margin: 0px;
}


/* -----------------
--- COMPARTIDO ----
------------------- */
.centrado{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}
/* -----------------
--- COMPARTIDO ----
------------------- */



/* --- HEADER --- */
header{
    text-align: center;
    position: relative;   
    width: 100%;
    height: 110px;
    border: 1px solid red;
}

/* --- FIN HEADER --- */

/* --- MAIN --- */
main{
    width: 100%;
    height: calc(100vh - 110px);
    border: 1px solid red;
}

#board,
#gameover{
    height: 610px;
    width: 720px;
}

#board .imagen,
#gameover .imagen{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#gameover{ 
    opacity: 0;
}

#count{
    top: 0px;
    right: 0px;
    padding: 20px 12px;
    opacity: 0;
}

#myBtn {
    position: absolute;
    top: 324px;
    height: 60px;
    width: 90px;
    opacity: 1;
}

#restart {
    height: 60px;
    width: 90px;
    opacity: 1;
    text-align: center;
    bottom: 100px;
}

.botella{
    width: 200px;
    height: 400px;
bottom: 0px;
left: 100%;
border: 1px solid red;
}

.botella img{
   height: 400px;
   top: 0px;
   left: 10px;
}
    

/* --- FIN MAIN --- */



/* --- SCRIPT NO HTML --- */
#player{
    height: 72px;
    width: 72px;
    position:absolute;
    background-image: url(./images/domingo.png);
    /* top: 324px;
    left: 324px; */
}
#enemyY{
    height: 55px;
    width: 55px;
    position: absolute;
    background-image: url(./images/html.png);
}
#enemyX{
    height: 55px;
    width: 55px;
    position: absolute;
    background-image: url(./images/CSS.png);
}
.life {
    position: absolute;
    height: 41px;
    width: 41px;
    background-image: url(./images/corazon.png);
    margin-left: 10px;
    opacity: 1;
}

#java{
    height: 55px;
    width: 55px;
    position: absolute;
    background-image: url(./images/javaScript.png);
}

/* --- FIN SCRIPT NO HTML --- */




 
#zumoX {
    height: 55px;
    width: 55px;
    position: absolute;
    background-color: blue;
}

.botel {
    position: absolute;
    height: 50;
    width: 50;
    top: 640 px;
    left: 640 px;
    background-color: chartreuse;
}

.visible{
    display:visible;
}
